# packages in environment at mac:
#
ansible                   2.4.1.0                   <pip>
asn1crypto                0.23.0                    <pip>
asn1crypto                0.22.0                   py36_0  
bcrypt                    3.1.4                     <pip>
cffi                      1.11.2                    <pip>
cffi                      1.10.0                   py36_0  
conda                     4.3.30           py36h173c244_0  
conda-env                 2.6.0                h36134e3_0  
cryptography              1.8.1                    py36_0  
cryptography              2.1.2                     <pip>
freetype                  2.5.5                         2  
google-api-python-client  1.6.2                     <pip>
httplib2                  0.10.3                    <pip>
httpretty                 0.8.14                    <pip>
idna                      2.6                       <pip>
idna                      2.5                      py36_0  
intel-openmp              2018.0.0             h8158457_8  
jbig                      2.1                           0  
Jinja2                    2.9.6                     <pip>
jpeg                      9b                            0  
libgfortran               3.0.1                h93005f0_2  
libpng                    1.6.30                        1  
libtiff                   4.0.6                         3  
MarkupSafe                1.0                       <pip>
mkl                       2018.0.1             hfbd8650_4  
numpy                     1.13.3           py36h2cdce51_0  
oauth2client              4.1.2                     <pip>
olefile                   0.44                     py36_0  
openssl                   1.0.2l                        0  
packaging                 16.8                     py36_0  
paramiko                  2.3.1                     <pip>
pillow                    4.2.1                    py36_0  
pip                       9.0.1                    py36_1  
py                        1.4.34                    <pip>
pyasn1                    0.3.7                     <pip>
pyasn1-modules            0.0.11                    <pip>
pycosat                   0.6.2                    py36_0  
pycparser                 2.18                      <pip>
pycparser                 2.17                     py36_0  
PyDrive                   1.3.1                     <pip>
PyNaCl                    1.2.0                     <pip>
pyopenssl                 17.0.0                   py36_0  
pyparsing                 2.1.4                    py36_0  
pytest                    3.2.0                     <pip>
python                    3.6.1                         2  
PyYAML                    3.12                      <pip>
readline                  6.2                           2  
requests                  2.14.2                   py36_0  
rsa                       3.4.2                     <pip>
ruamel_yaml               0.11.14                  py36_1  
setuptools                27.2.0                   py36_0  
setuptools                36.6.0                    <pip>
six                       1.10.0                   py36_0  
six                       1.11.0                    <pip>
sqlite                    3.13.0                        0  
tk                        8.5.18                        0  
Trolly                    0.2.2                     <pip>
uritemplate               3.0.0                     <pip>
wheel                     0.29.0                   py36_0  
xz                        5.2.2                         1  
yaml                      0.1.6                         0  
zlib                      1.2.8                         3  
